form {
  width: 500px;
  margin: 30px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

form input {
  margin-bottom: 5px
}

form input [type='button'] {
  margin-right: 10px;
}

label {
  text-align: left;
  justify-content: center;
}

select {
  height: 30px;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
}